.container {
    min-height: 200px;
    padding: 0 1.2rem;
}
.innerCo {
    max-width: 1200px;
    margin-inline: auto;
    border-top: 1px solid var(--border-color) ;
    padding: 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksCo ul li {
    list-style: none;
    position: relative;
   
}

.linksCo ul li::before {
    left: 0;
    bottom: 0;
    content: '';
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: aliceblue;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.linksCo ul li:hover::before {
    width: 100%;
}

.link {
    color: aliceblue;
    text-decoration: none;
    line-height: 1.6rem;
}


/* .logoCo h1{
    font-size: 2.9rem;
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */


.footerBottom {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-color) ;
    padding: 1rem 0 1.5rem;
}