.container {
    width: 100%;
}

.innerContainer {
    max-width: var(--max-width);
    margin-inline: auto;

    min-height: 600px;
    width: 100%;
    transition-duration: .4s;
    position: relative;

}