.links {
    display: flex;
    align-items: center;
    transition-duration: .2s;
}
.link {
    background-color: transparent;
    padding: .4rem 1rem;
    border: none;
    outline: none;
    color : aliceblue;
    font-size: 1.2rem;
    transition-duration: .4;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link:hover {
    background-color: rgba(240, 248, 255, 0.119);
    border-radius: .4rem;
}
.social {
    color: aliceblue;
    display: flex;
    column-gap: .8rem;
    padding-left: .8rem;
    margin-left:.8rem ;
    border-left: 1px solid aliceblue;
}

.socialIcon {
    font-size: 1.9rem;
    transition-duration: .4s;
}

.socialIcon:hover {
    background-color: rgba(240, 248, 255, 0.119);
    transform: scale(.95);
}
@media (max-width: 700px) {

.close {
   
    transform: translateX(18rem);
    opacity: 0;
}
  .links {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1rem 2rem;
    row-gap: .5rem;

    position: absolute;
    top: 75px;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.133);
    z-index: 10;
    border-radius: .4rem;

    backdrop-filter: blur(20px);

  }
  .social {

    margin-left: 0;
    border-left: none;
  }
}
