.container {
    padding-inline: 1rem;
}
.innerContainer {
    max-width: var(--max-width);
    padding: 1rem 0;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}





@media (min-width: 700px) {
    .navContainer {
        display: none;
    } 
}


@media (max-width:700px) {
    .navListCo {
        display: none;
    }
   
}


