.outContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container {
    background: transparent;
    width: 50px;
    height: 40px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    pointer-events: visible;
    border-radius: 5px;
    /* background-color: rgba(226, 228, 254, 0.429); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px) ;
}
.line1 , .line2 {
    width: 80%;
    left: 10%;
    height: 4px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.line1 {
    transform: translateY(-7px);
}
.line2 {
   transform: translateY(7px);
}

.active  .line1 {
    transform: rotate(45deg);
}

.active  .line2 {
    transform: rotate(-45deg);
}
